<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company (disabled)</mat-label>
        <input matInput disabled value="Jansen">
    </mat-form-field>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Digite aqui seu nome:</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Digite aqui seu sobrenome:</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Digite aqui seu endereço:</mat-label>
            <textarea matInput placeholder="Ex: Rua Jeronimo Teles Junior, 125"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Complemento do endereço:</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Digite a cidade:</mat-label>
                    <input matInput placeholder="Ex: Santos">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Digite aqui UF:</mat-label>
                    <input matInput placeholder="Ex: São Paulo">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Digite aqui o CEP:</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field>
            </td>
        </tr>
    </table>
</form>

<router-outlet></router-outlet>